**<font face = "Courier New" size = 5 color = #FDFF8F> CREACIÓN DE LA BASE DE DATOS  </font>**

<font face = "Courier New" size = 4 > A continuación formaremos la base de datos y la completaremos con las tablas generadas anteriormente.
</font>

In [1]:
import pandas as pd
import sqlite3

In [2]:
# CARGAMOS EL CSV QUE HEMOS OBTENIDO ANTERIORMENTE A TRAVÉS DE TWITTER

primero = pd.read_csv('data/tweets_menciones20221007-130547.csv')
segundo = pd.read_csv('data/tweets_menciones20221009-204056.csv')

total = pd.concat([primero, segundo])

In [3]:
total.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [4]:
# FORMAMOS DOS TABLAS CON LOS DATOS QUE CONSIDERAMOS IMPORTANTES PARA ESTE ESTUDIO

tweets = total[['id','username','date','tweet', 'replies_count', 'retweets_count', 'likes_count','hashtags','retweet']]
users = total[['id','user_id', 'username', 'name', 'language', 'retweet']]

In [5]:
tweets.head(2)

,id,username,date,tweet,replies_count,retweets_count,likes_count,hashtags,retweet
0,1577334577701453827,paumugarra,2022-10-04,Recordaros que la semana que viene tenemos la ...,0,2,12,['cps'],False
1,1576951801047179264,thebridge_tech,2022-10-03,¡Vuelven las #becas Digital Talent Pipeline! ...,0,1,1,"['becas', 'bootcamp', 'dtp', 'becasformacion',...",False

In [6]:
users.head(2)

,id,user_id,username,name,language,retweet
0,1577334577701453827,1003872445,paumugarra,Pau Mugarra,es,False
1,1576951801047179264,1162694149956603904,thebridge_tech,The Bridge,es,False

In [8]:
# GENERAMOS LA BASE DE DATOS database_twitter

connection = sqlite3.connect('database_twitter.db')
cursor = connection.cursor()

In [9]:
# VOLCAMOS NUESTROS DATAFRAMES EN LA BASE DE DATOS

tweets.to_sql('tweets', connection, if_exists='append', index=False) 
users.to_sql('users', connection, if_exists='append', index=False)

In [10]:
# DESDE ESTE MOMENTO, YA PODEMOS HACER CONSULTAS DIRECTAMENTE A LAS TABLAS DENTRO DE LA BASE DE DATOS

def sql_query(query,cursor):

    # Ejecuta la query
    cursor.execute(query)

    # Almacena los datos de la query 
    ans = cursor.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in cursor.description]

    return pd.DataFrame(ans,columns=names)


query = '''SELECT user_id FROM users'''

df = sql_query(query, cursor)
df

                 user_id
0             1003872445
1    1162694149956603904
2             2529499620
3     706520411551494145
4              604485175
..                   ...
177  1434890317640126469
178            175063066
179  1255794072280842240
180              7154412
181            944737177

[182 rows x 1 columns]